// =============================================
// Input Group
// =============================================

.input-group {
    margin-bottom: 20px;
    position: relative;

    .input-group__label {
        display: block;
        position: absolute;
        top: 0;
        line-height: 50px;
        color: #667085;
        left: 5px;
        padding: 0 5px;
        transition: line-height 200ms ease-in-out, font-size 200ms ease-in-out, top 200ms ease-in-out;
        pointer-events: none;

        span { color: #EF533F; }
    }

    .input-group__input {
        width: 100%;
        height: 50px;
        border: 1px solid #E0E0E0;
        border-radius: 3px;
        padding: 0 10px;
        appearance: none;
        cursor: auto !important;

        &:not(:placeholder-shown) + label,
        &:focus + label {
            background-color: #fff;
            line-height: 10px;
            font-size: 14px;
            top: -5px;
        }

        &:focus {
            outline: none;
            border: 1px solid #E0E0E0;
        }
    }
}

.input-button {
    padding: 7px 0 10px;
    position: relative;
}
