@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

.catalogContacts {

    h1.h1 {
        line-height: 1.2;
        padding: 10px 0 24px;
        font-weight: 600;
        font-style: normal;
        font-size: 46px;
        color: $color;
        max-width: 1000px;
    }

    .contactTabs__top {
        height: 48px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px;
        margin: 20px 0 0;

        .contactTabs__tab {
            padding: 0 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px;
            color: $color;
            font-size: 18px;
            font-weight: 600;
            line-height: 1em;
            letter-spacing: 0.5px;
            border-radius: 4px;
            transition: 0.2s;
            cursor: pointer;

            &.active,
            &:hover {
                background: rgba(239, 83, 63, 0.16);
                color: $colorRed;
            }
        }
    }

    .contactTabs__bottom {
        padding: 24px 12px;
        margin-bottom: 30px;

        .contactTabsBody__tab {
            display: none;

            &.active {
                display: block;
                width: 100%;
            }
        }

        .contact_area__subtitle {
            font-size: 16px;
            color: $colorGrey;
            margin-bottom: 12px;
        }

        .contact_area__flex {
            display: flex;
            justify-content: space-between;
        }

        .contact_area__left {
            width: 30%;
            padding: 16px 16px 16px 0;

            .contact_area__label {
                padding: 0 0 16px;
            }
        }

        .contact_area__center {
            width: 40%;
            padding: 16px;

            .contact_area__label {
                padding: 0 0 16px;
            }
        }

        .contact_area__right {
            width: 30%;
            padding: 16px 0 16px 16px;

            .contact_area__label {
                padding: 0 0 16px;
            }
        }

        .property {
            font-size: 24px;
            line-height: 1.3em;
            padding: 5px 0;
        }

        .contact_area__desc {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid $colorCCC;
        }
    }
}

.JFormFieldMap_wrapper {
    margin-top: 0;
}

.JFormFieldMap {
    border-top: 1px solid $colorRed;

    h5 {
        font-size: 22px;
        color: $colorRed;
        padding-bottom: 9px;
        font-weight: 600;
    }

    .jt_ph {
        padding-bottom: 5px;
        font-size: 14px;
    }
}

@media (max-width: 868px) {
    .catalogContacts {
        .contactTabs__top {
            height: auto;
            min-height: 48px;
        }

        .contactTabs__bottom {
            padding: 24px 12px 0;
            margin-bottom: 0;

            .contact_area__flex {
                display: block;
            }

            .contact_area__left,
            .contact_area__center,
            .contact_area__right {
                width: 100%;
                padding: 10px 0;
            }
        }
    }
}

@media (max-width: 468px) {
    .catalogContacts {
        .property {
            font-size: 18px;
        }
    }
}
